html,
 body {
    height: 100%;
 }

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

 a {
    text-decoration: none;
    color: #e5e7eb;
 }

 ul {
    list-style-type: none;
 }

 .signup-button {
     padding: 8px 30px;
     border-radius: 8px;
     background: #3882f6;
 }

.header-container,
 .welcome,
   .footer {
    background: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1000px;
    height: 80px;
    margin: 0 8rem;
    min-width: 800px;
}

.header .logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

.header .links {
    display: flex;
    gap: 16px;
}

.welcome {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    min-width: 1000px;
}

.intro {
    flex-basis: 300px;
    margin-bottom: 100px;
}

.intro .title {
    margin-top: 50px;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 8px;
}


.intro .signup-button {
    border: 1px solid royalblue;
    color: white;
    margin-top: 10px;
}

.welcome .image {
    width: 400px;
    height: auto;
    background: rgb(66, 60, 60);
    border: 1px solid darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 100px;
}

.info {
    flex-grow: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 40px 0;
}
/* should I make it exoand up to a point? */
.info .title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}

.info .container {
    width: 800px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .image {
    width: 90px;
    height: 90px;
    border: 3px solid #3882f6; 
    border-radius: 16px;
    margin-bottom: 4px;
}

.info .subtext {
    font-size: 12px;
    width: 110px;
    text-align: center;
}

.quote-container {
    flex-grow: 1;
    background: rgb(224, 222, 222);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.quote .sentence {
    font-size: 23px;
    font-weight: 300;
    font-style: italic;
}

.quote .author {
    align-self: flex-end;
    font-weight: 800;
    font-size: 18px;
}

.signup-call {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.signup-call .card {
    margin: 1.5rem;
    width: 800px;
    color: white;
    background: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3882f6;
    border-radius: 5px;
    padding: 20px 30px;
    gap: 100px;
}

.signup-call .title {
    font-size: 20px;
    font-weight: 800;
}

.signup-call p {
    margin-top: 0;
    font-size: 18px;
}

.signup-call .signup-button {
    border: 1px solid white;
}


.footer {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



